*.docx
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
logs/

/.idea/.gitignore
/.idea/encodings.xml
/.idea/git_toolbox_prj.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/text-diff.iml
/.idea/vcs.xml
/.idea/dictionaries/Yurii.xml
